@font-face {
font-family: 'SofiaFont';
src: url("../fonts/Sofia-Regular.ttf");
font-display:swap;
}
body {
font-family: "SofiaFont";
font-size: 100px;
text-shadow: 10px 10px 10px #ababab;
text-align: center;
}
