body {
	min-height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
.card {
	width:80%;
	max-width:700px;
	border-radius:5px;
	background-color:#e6e6e6;
}
.card-body {
	padding:10px;
}
#qtext:before {
	content:open-quote;
}

#qtext:after {
	content:close-quote;
}
#qcite::before {
	content:"-";
}
.card-footer {
	padding:10px;
	background-color:#d3d3d3;
	border-radius:0 0 5px 5px;
}
.quote-button, #copy-text {
	background-color:#00008b;
	color:white;
	cursor: pointer;
	padding:10px;
	border-radius:5px;
	border:none;
	margin:10px 0 10px 40px;
	box-shadow: 0 5px #999;
}
.quote-button:hover, #copy-text:hover {
        background-color: #00518b;
}
.quote-button:active, #copy-text:active {
	background-color: #00518b;
	box-shadow: 0 1px #666;
	transform: translateY(4px);
}
