body {
  font-family: Arial, sans-serif;
  margin: 30px 50px;
  padding: 20px;
}

#container {
  margin: 0 auto;
  max-width: 830px;
  max-height: 1400px;
  background: #7843e9;
  padding: 25px 0;
}

h1 {
  color: #fff;
  text-align: center;
}

table {
  width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 10px;
}

tr:hover {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
#container {
  padding: 25px 25px;
}
  
  table {
	font-size: 14px;
  }

  th, td {
	padding: 5px;
  }
}